<div class="introtext">
    <h1>Intro text</h1>
    <h3>
      Physically exercises are great for our muscles, heart, and lungs. Some more
      advantages of the physical activities are; it builds our bones strong, saves
      us from obesity by promoting a healthy weight, saves us from diabetes, helps
      us to build healthy habits, keeps us away from cancer, prevents high blood
      pressure, and other major problems. Thus, through regular exercises and
      healthy food in timely manner, we can easily maintain our health and
      fitness.
    </h3>
  </div>
  <div>
    <button
      class="btn btn-block btn-primary btn-lg"
      style="margin-left: 10px;"
      (click)="navpage()"
    >
      Apply For Trainer
    </button>
  </div>
  